block content
  script(src="/javascripts/block_controller.js")
  .container-block(style="width:96%;margin:0 auto;", ng-controller='blockCtrl')
    h1 Block
    table
      thead
        tr
          th Name
          th CityName
          th Status
      tbody
        each block in rows
          tr
            td= block.name
            td= block.city_name
            td(class=block.status)= block.status
    include ../common/pagination