script(src='/javascripts/nav_controller.js')
.container-fluid
  nav.navbar.navbar-default(role='navigation')
    .container-fluid(ng-controller='navCtrl')
      .navbar-header
        a(href="/").navbar-brand="Artist Work"

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-left
          -var user;
          -if(session)
            -user = session.user
          if user
            li: a(href="/cities")="City"
            li: a(href="/blocks")="Block"
            if ['super_user', 'root'].indexOf(user.role) != -1
              li: a(href='/users')="User"

        ul.nav.navbar-nav.navbar-right
          if user
            li: a(href="/users/me")=user.email
            li: a(href="/users/logout")="Logout"
          else
            li: a(href="/users/login")="Login"
